body {
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navigation ul li.active a .icon{
    transform: translateY(-55px);
}

.navigation ul li:hover a .icon{
    transform: translateY(-55px);
}

.navigation ul li a .text{
    position: absolute;
    color: black;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text{
    opacity: 1;
    transform: translateY(8px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(8px);
}

.login-page {
    min-height: 100vh;
    padding: 15px;
    background-color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.login-page .box {
    background-size: cover;
    background-position: -160px center;
    background-repeat: repeat-x;
    flex: 0 0 700px;
    max-width: 700px;
    min-height: 480px;
    box-shadow: 0 0 10px #dddddd;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.login-page .box.slide-active {
    background-position: 160px center;
}

.login-page .box::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-page .box .left,
.login-page .box .right {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.login-page .box .left h3,
.login-page .box .right h3 {
    font-size: 20px;
    color: #ffffff;
    margin: 0 0 15px;
}

.login-page .box .left .register-btn,
.login-page .box .right .login-btn {
    background-color: transparent;
    padding: 10px 35px;
    color: #ffffff;
    border: 1px solid #ffffff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
}

.login-page .box .left .register-btn:focus,
.login-page .box .right .login-btn:focus {
    outline: none;
}

.login-page .box .form {
    position: absolute;
    background-color: #ffffff;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s ease-in-out;
}

.login-page .box.slide-active .form {
    right: 50%;
}

.login-page .box .form h3 {
    font-size: 20px;
    color: #000000;
    margin: 0 0 30px;
}

.login-page .box .form .form-group {
    margin-bottom: 20px;
}

.login-page .box .form .lost-password-form,
.login-page .box .form .login-form,
.login-page .box .form .register-form {
    transition: all 0.5s ease-in-out;
}

.login-page .box .form .form-control {
    width: 100%;
    height: 45px;
    font-size: 16px;
    color: #000000;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding: 0;
}

.login-page .box .form .form-control:focus {
    outline: none;
}

.login-page .box .form label {
    font-size: 16px;
    color: #555555;
}

.login-page .box .form .submit-btn {
    width: 100%;
    height: 40px;
    background-color: firebrick;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-page .box .form .submit-btn:focus {
    outline: none;
}

.login-page .box .form p {
    margin-top: 20px;
    text-align: center;
}

.login-page .box .form h5 {
    font-size: 16px;
    color: #555555;
    margin: 0 0 30px;
    font-weight: normal;
}

.login-page .box .form p a {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #3f51b5;
}

.login-page .box .form .form-hidden {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
}




.main{
    height: 100%;
    width: 100%;
    opacity: 0;
    display: none;
    transition: opacity 1s ease-in;
}

/* CSS loader */

.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    animation: loader 0.5s linear infinite;
    opacity: 1;
}

.loader span{
    position: absolute;
    height: 50px;
    width: 50px;
    background: #f00;
    animation: rotate 0.5s linear infinite;
}

.loader span:nth-child(1){
    top: 0;
    left: 0;
    background: #f79f1f
}

.loader span:nth-child(2){
    top: 0;
    right: 0;
    background: #12cbc4
}

.loader span:nth-child(3){
    bottom: 0;
    left: 0;
    background: #ed4c67
}

.loader span:nth-child(4){
    bottom: 0;
    right: 0;
    background: #a3cb38
}

@keyframes loader{
    0%{
        width: 100px;
        height: 100px;
    }

    10%{
        width: 100px;
        height: 100px;
    }
    50%{
        width: 150px;
        height: 150px;
    }

    90%{
        width: 100px;
        height: 100px;
    }

    100%{
        width: 100px;
        height: 100px;
    }
}

@keyframes rotate{
    0%{
    transform: rotate(0deg);
    }

    10%{
        transform: rotate(0deg);
    }
    60%{
        transform: rotate(90deg);
    }

    90%{
        transform: rotate(90deg);
    }

    100%{
        transform: rotate(90deg);
    }
}

/* CSS loader */

.layoutAbout span{
    float: left;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 35px;
}
.layoutAbout p{
    float: left;
    font-size: 14px;
    margin-top: 35px;
    font-family: 'Poppins', sans-serif;
}

.layoutAbout img{
    margin-left: 20px;
}

.layoutAbout h3{
    margin-top: 5px;
    margin-left: 20px;
    text-shadow: 3px 3px darkgray;
}

.layoutAbout section{
    margin-left: 20px;
    display: flex;
}



/*responsive*/

@media(max-width: 767px) {
    .login-page .box {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media(max-width: 575px) {
    .login-page .box .form {
        width: 100%;
        position: relative;
        right: auto;
        top: auto;
        height: auto;
    }
    .login-page .box,
    .login-page .box.slide-active {
        background-position: center;
    }
    .login-page .box .left h3,
    .login-page .box .right h3 {
        font-size: 16px;
    }
    .login-page .box.slide-active .form {
        right: auto;
    }
}

@media only screen and (max-width: 1200px){
    .container{
        margin-top: 150px;
        margin-bottom: 100px;
       
    }
   
    .layoutAbout{
        
        top: -50px;
    }
    .layoutAbout span{
        margin-top: 30px;
        margin-right: 5px;

    }
    .row{
        margin-left: -380px;
        margin-top: 300px;
        
    }
    .footer-col{
        
        margin-bottom: 30px;
        width: fit-content;
    }
    
    
}